@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy:regular);
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Baloo+2:regular,500,600,700,800);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito";
  transition: all 0.25s ease-in-out;
}

h1 {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2,
h3 {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
}

button {
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.logo {
  height: 80px;
}

.mobileMenuOpener,
#mobileMenu {
  display: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

nav a {
  color: gold;
  font-weight: gold;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .logo {
    height: 50px;
  }
  .navBarDesktop {
    display: none;
  }
  .mobileMenuOpener {
    display: block;
    position: relative;
    background: transparent;
    border: none;
    color: gold;
    font-size: 1.3rem;
  }

  #mobileMenu {
    position: absolute;
    left: auto;
    top: 23px;
    padding-top: 30px;
    height: 180px;
    width: 150px;
    border: none;
    border: 1px solid black;
    background-color: #222222;
    border-radius: 10px;
  }
  #mobileMenu:popover-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #mobileMenu:popover-open a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    font-weight: bold;
  }

  #mobileMenu:popover-open a:hover {
    opacity: 0.6;
  }

  .closeButton {
    position: absolute;
    background-color: red;
    color: #fff;
    border: none;
    outline: none;
    padding: 2px;
    border-radius: 3px;
    top: 5px;
    right: 5px;
  }
}
